body{
    font-family: 'Poppins', sans-serif;
}
.name{
    color: orange;
}
.flaxible-containar{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    border: solid 5px orange;
    
}
h2{
    color: rgb(153, 209, 49);
    
}
.link-button{
    text-decoration: none;
    color: seashell;
    background-image: linear-gradient( orange,tomato);
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 10px;

}
.top-banar{
    background-image:url(image/_MG_9368.JPG);
}
.middle-banar{
    background-image:url(image/_MG_9255.JPG);
}
.two{
 color: rgb(153, 228, 15);   
}
.box-shaddo{
    border: rgb(153, 228, 15)  10px ;
    box-shadow: 10px 10px 15px#a56666;
    border-radius: 15px;
    border-left: rgb(241, 245, 5) 10px solid;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
}
#baby-developer{
    border-left: 10px solid;
    border-image: linear-gradient(blue,tomato);
    border-image-slice: 1;
}
#hero-developer{
    border-left: 10px solid;
    border-image: linear-gradient(white,tomato);
    border-image-slice: 1;
}