body{
    font-family: 'Poppins', sans-serif;
}
.name{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    border: solid 5px orange;
    
}
.link-button{
    text-decoration: none;
    color: seashell;
    background-image: linear-gradient( orange,tomato);
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 10px;

}
.top-banar{
    background-image:url(image/_MG_9368.JPG);
}
.middle-banar{
    background-image:url(image/_MG_9255.JPG);
}
.two{
 color: rgb(153, 228, 15);   
}